<div class="login-page">
  <div class="logo-panel">
    <img src="lexfix.png" alt="LexFix Logo" class="logo" />
    <!-- <h1 class="brand">LexFix</h1> -->
  </div>

  <div class="login-box">
    <p class="subtitle">Please enter your details</p>
    <h2>Welcome back</h2>

    <form>
      <input type="email" placeholder="Email address" />
      <input type="password" placeholder="Password" />

      <div class="options">
        <label><input type="checkbox" /> Remember for 30 days</label>
        <a href="#">Forgot password</a>
      </div>

      <button type="submit" class="primary-btn" routerLink="/dashboard">Sign in</button>


    </form>

    <!-- <p class="signup-link">Don't have an account? <a href="#">Sign up</a></p> -->
  </div>
</div>
